[Unit]
Description=Hexwall Air Quality Sensor
After=network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/git/pi_air_quality/venv/bin/python3 /home/ubuntu/git/pi_air_quality/app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
